---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout
  title="404 - Not Found"
  description="The page you were looking for does not exist."
  >
  <section class="max-w-[750px] mx-auto px-6 pt-16 pb-12">
    <h1 class="text-4xl md:text-4xl leading-tight mb-10">Not Found</h1>
    <h2 class="mt-6 text-l font-semibold leading-[64px] text-gray-900 uppercase">404</h2>
    <p class="text-gray-600">The page you requested could not be found. It may have moved, or the URL might be incorrect.</p>

  </section>
</BaseLayout>
