---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="About Jodok Batlogg"
	pubDate={new Date('February 07 2026')}
	heroImage={AboutHeroImage}
>
	<p>
		I'm a serial entrepreneur and engineer by heart. Today, I am Co-Founder
		and CEO at <a href="https://pina.earth/">Pina Earth</a>, where we build 
		high-integrity carbon removal solutions. It all started  with in 2021
		with <a href="https://tree.ly/">Tree.ly</a>, working on data-driven 
		forest climate projects.
	</p>

	<p>
		I previously was Founder & CTO at <a href="https://cratedb.com/">CrateDB</a>, 
		CTO at <a href="https://en.wikipedia.org/wiki/StudiVZ">StudiVZ</a> and
		Co-Founder & CEO <a href="https://www.lovelysystems.com">Lovely Systems</a>.
		My roots are in Open Source, more specifically the Python Community,
		where I contributed to projects like <a href="https://plone.org/">Plone</a>,
		<a href="https://www.zope.org/">Zope</a>, but also 
		<a href="https://www.gentoo.org/">Gentoo Linux</a>.
	</p>

	<p>
		This is my personal site.
	</p>

	<p>
		You can find me on <a href="https://www.linkedin.com/in/jodok/">LinkedIn</a><br />
		Or send me an e-mail to <a href="mailto:jodok@batlogg.com">jodok@batlogg.com</a>.
	</p>

	<h2>My Company</h2>

	<p>
		BTLG Holding GmbH<br />
		Sebastianstraße 6b<br />
		6850 Dornbirn<br />
		Austria
	</p>

	<p>
		VAT ID: ATU76595739<br />
		Company register: FN 551389 t
	</p>
</Layout>