---
import BaseLayout from '../layouts/BaseLayout.astro';
import Post from '../components/Posts.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<BaseLayout>
	<h1>Jodok Batlogg</h1>
	<p>
		Grieß eich die Madln,<br />
		Servas die Buam.
	</p>
	<section>
		<Post posts={posts} />
	</section>
</BaseLayout>

