---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
	<nav>
		<h2>
			<a href="/" aria-label={SITE_TITLE} title={SITE_TITLE}>
				<span class="sr-only">{SITE_TITLE}</span>
				<svg viewBox="0 0 464 140" aria-hidden="true" height="68"
					><path
						fill="black"
						d="M132.002294,0 L132.002,7.052 L132.00644,8.6410455e-07 L170.00644,0.0203950425 L171.088009,0.0370228258 C171.393192,0.0459792006 171.697472,0.0585282188 172.000809,0.0746290292 L172,3.27418093e-11 L264,0 L264,101.96329 L264.016934,102.895576 C264.515526,116.819403 275.958613,127.960922 290.005338,127.973417 L290.005338,127.973417 L350.307751,127.974114 C347.067912,124.524946 344.464342,120.471335 342.684321,116.000702 L276,116 L276,2.84217094e-14 L288,2.84217094e-14 L288,104.001417 L340.054956,104.000785 C340.018983,103.327626 340.000515,102.649824 340,101.967825 L340,101.967825 L340,38 L340.015105,36.9180859 C340.587843,16.4315762 357.375021,0 378,0 L378,0 L452,0 L452,12 L378,12 L377.067463,12.0164126 C363.139985,12.5073984 352,23.9527581 352,38 L352,38 L352,101.963291 L352.0171,102.895497 C352.518113,116.818161 363.960477,127.96017 378.007037,127.976644 L377.691,127.973 L380,127.973417 L380,127.977 L428.002695,128 L427.997305,140 L377.997305,139.976639 L377.794,139.973 L290,139.973417 L288.918198,139.957367 C268.433961,139.367067 252.01182,122.584454 252,101.96673 L252,101.96673 L252,36 L207.948047,36.000417 C207.984051,36.6728495 208.002591,37.3499147 208.00322,38.0311671 L208.00322,38.0311671 L208.00322,140.000001 L196.00322,140.000001 L196.00322,38.0367095 L195.985967,37.1045775 C195.482725,23.1829826 184.041027,12.0405249 169.994619,12.020388 L169.994619,12.020388 L132.002,12 L132.002447,101.967447 C131.988165,122.583659 115.567989,139.365321 95.0865485,139.95928 L94.0048946,139.975527 L36.0048946,140 L36,128 L93.9959968,127.975531 C108.042614,127.96043 119.485228,116.81859 119.985405,102.895524 L120.002447,101.963291 L120.002222,77.6672901 C116.546715,80.9130636 112.484281,83.5203852 108.00326,85.3007802 L108.002447,116 L36.0024473,116 L36.0024473,104 L96.0024473,104 L96.0026397,87.9217987 C95.698113,87.9378872 95.3926361,87.9503947 95.0862503,87.9592798 L94.0045887,87.975527 L36.0045887,88 L36,76 L93.9958438,75.9755309 C108.042461,75.9604295 119.485075,64.8185898 119.985252,50.8955241 L120.002294,49.9632909 L120.002294,0 L132.002294,0 Z M95.9974683,5.34121682e-07 L96.0025317,12.0000005 L38.0064505,12.0244695 C23.9598331,12.0395709 12.5172195,23.1814106 12.0170426,37.1044764 L12,38.0367095 L12,140.000001 L0,140.000001 L0,38.0325533 C0.0142822789,17.416341 16.4344588,0.634679613 36.9158187,0.0407207418 L37.9974683,0.0244735465 L95.9974683,5.34121682e-07 Z M96,24 L96,36 L36,36 L36,140 L24,140 L24,24 L96,24 Z M184.00322,24 L184.00322,140 L172.00322,140 L172.00322,36 L132.00322,36 L132.00322,24 L184.00322,24 Z M398.006743,52.0000009 L426.006743,52.0157336 L427.088252,52.0327964 C447.566848,52.6419142 463.978885,69.4196328 464.003371,90.0295823 L464.003371,90.0295823 L464.003371,140.000001 L452.003371,140.000001 L452.003371,90.0367095 L451.985878,89.1046931 C451.479133,75.1847793 440.03848,64.0416152 425.992311,64.0157225 L425.992311,64.0157225 L398,64.0000009 L398.006743,52.0000009 Z M440.003371,76 L440.003371,140 L428.003371,140 L428.003371,88 L398.003371,88 L398.003371,76 L440.003371,76 Z M452,24.0000006 L452,36.0000006 L376,36.0000006 L376,104.000001 L428,104.000001 L428,116.000001 L364,116.000001 L364,24.0000006 L452,24.0000006 Z M108.002294,4.38668394e-07 L108.002294,64.0000004 L36.0022943,64.0000004 L36.0022943,52.0000004 L96.0022943,52.0000004 L96.0022943,4.38668394e-07 L108.002294,4.38668394e-07 Z M252,12 L197.668688,11.9999093 C200.920307,15.4551435 203.53289,19.518324 205.317772,24.0006109 L252,24 L252,12 Z"
					></path></svg
				>
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		border-bottom: 4px solid transparent;
		text-decoration: none;
	}
	nav a.active {
		text-decoration: none;
		border-bottom-color: var(--accent);
	}
</style>
