---
---

<div class="grid h-[170px] w-full overflow-hidden [grid-template-columns:2.3fr_2.1fr_0.9fr]" aria-hidden="true">
  <div class="rounded-bl-[9rem] bg-[#8e5fa4]"></div>
  <div class="rounded-tl-[11rem] bg-[#cb7859]"></div>
  <div class="bg-[#d5b03f]"></div>
</div>
